# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_MAINNET=https://eth-mainnet.alchemyapi.io/v2/<apiKey>
# generic node uri (if no specific found) :
ETH_NODE_URI=https://{{networkName}}.infura.io/v3/<apiKey>

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
# MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
# MNEMONIC=<mnemonic>

# coinmarketcap api key for gas report
COINMARKETCAP_API_KEY=
TENDERLY_USERNAME=

PRIVATE_KEY_ARBI_GOERLI=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
PRIVATE_KEY_BSC_TESTNET=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
PRIVATE_KEY_GOERLI=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d